body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  color: #00ffc8d8;
  background: rgb(28, 28, 35);
  overflow: hidden;
  margin: 0px;
  user-select: none;
}
#logo {
  height: 150px;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr;
}
.input {
  margin-top: 20px;
  width: 70%;
  height: 25px;
  font-size: 17px;
  border-radius: 30px;
  border: none !important;
  text-align: center;
  background-color: #222831 !important;
  color: #eeeeee;
  user-select: all !important;
}
.input:focus {
  outline-width: 1px;
  outline-color: #999999 !important;
  border: none;
  outline-style: solid;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
}
#window {
  background-color: #444;
  height: 410px;
  width: 500px;
  display: flex;
  justify-content: center;
}
label {
  font-size: 20px;
  margin-top: 20px;
}
#inputs {
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: repeat(6, 50px);
  margin-top: 60px;
}
.label {
  display: flex;
  justify-content: start;
  align-items: center;
}
.inputDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
#resetDiv {
  margin-top: 20px;
}
.redirect {
  color: #00d9e5 !important;
  text-decoration: none;
}
.redirect:hover {
  text-decoration: underline;
  cursor: pointer;
}
.input::placeholder {
  color: #eeeeee93;
}
#sign {
  margin-top: 20px;
  background-color: rgb(242, 98, 98);
  height: 30px;
  font-size: 20px;
  width: 200px;
  border: none;
  border-radius: 30px;
  text-decoration: none !important;
  cursor: default !important;
  color: #eeeeee !important;
}
#sign:hover {
  border-width: 1px;
  border-color: #eeeeee;
  border-style: solid;
}
#message {
  font-size: 40px !important;
  color: #eeeeee;
  margin-bottom: 90px;
}

#error {
  color: rgb(242, 98, 98);
  margin: 0px;
  margin-top: 5px;
  opacity: 0;
}
