html,
body,
.wrapper {
  height: 100%;
  width: 100%;
  color: rgb(234, 231, 231);
  overflow: hidden;
  background: rgb(28, 28, 35);
}
.wrapper {
  display: grid;
  grid-template-columns: 410px 1000px;
}

.sidebar,
.chatWindow {
  display: grid;
  grid-template-columns: 1fr;
  height: 98%;
}
.sidebar {
  width: 400px;
}

.userInner,
.settingsInner {
  font-size: 30px;
  color: rgb(234, 231, 231) !important;
}
.user,
.settings {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header1,
.body1,
.footer1,
.header2,
.body2,
.footer2 {
  padding: 10px;
  border: 1px solid #000000;
}
.header1,
.header2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(63, 60, 60);
  border-bottom: none;
}
.footer1,
.footer2 {
  background-color: rgb(63, 60, 60);
  border-top: none;
}
.logoImg {
  width: 120px;
  height: 34px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  outline: none;
}

.searchBtn:hover {
  cursor: pointer;
}
.searchBtn {
  font-size: 15px !important;
}
.searchInput {
  width: 90%;
  height: 25px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  background: rgb(34, 34, 38);
  color: white;
}
.searchInput::placeholder {
  color: rgba(162, 158, 158, 0.818);
}
.search {
  border: 2px solid #000000;
  padding-left: 10px;
  border-radius: 15px;
  background: rgb(34, 34, 38);
  color: white;
  width: 75%;
}
.group {
  display: grid;
  grid-template-columns: 60px 340px;
  width: 100%;
  height: 70px;
  background: rgb(34, 34, 38);
  font-family: sans-serif;
  border-bottom: 1px solid #000000;
  transition: 500ms;
}

.group:hover {
  background-color: rgb(53, 53, 59);
  transition: 500ms;
}

.body1,
.body2 {
  padding: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.userImage {
  width: 60px;
  height: 100%;
}
.userImageInner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.centerV {
  display: flex;
  align-items: center;
  justify-content: start;
}
.groupText {
  height: 100%;
  width: 100%;
}
.secondary {
  margin-left: 20px;
}
.chatWindow {
  width: calc(100vw - 420px);
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(48, 48, 52);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
}

.attach,
.sendWrapper {
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #999;
}

.footer2 {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100%;
}

.messageInput {
  width: 1000%;
  height: 25px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  background: rgb(34, 34, 38);
  color: white;
  padding-left: 10px;
}

.inputWrapper1,
.sendWrapper {
  height: 100%;
}

.header2 {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 100%;
}
.tiny {
  font-size: 10px;
  color: #999;
}
.userGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

.body2 {
  padding: 10px !important;
}

.userImageInnerTiny {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.bodyPFP {
  height: 30px;
  display: grid;
  grid-template-columns: 30px 100px;
}
.messageNSelf {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #444;
  height: auto;
  margin-top: 7px;
  margin-left: 15px;
  padding: 6px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.bodyUser {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  margin: 0px;
  align-items: center;
  color: rgba(0, 255, 200, 0.858);
  filter: contrast(70%);
  font-size: 15px;
}
.messageFirstNSelf {
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 0px !important ;
}

.messageSelf {
  background-color: rgb(42, 116, 42);
  height: auto;
  margin-top: 7px;
  margin-right: 15px;
  padding: 6px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}

.messageFirstSelf {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-left-radius: 20px !important ;
}

.selfMessageAlign {
  display: flex;
  justify-content: end;
}

.messageInfo {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.noMargin {
  margin: 0px !important;
}
.readRecipt {
  text-align: end;
}
.innerImage {
  border-radius: 20px;
  padding: 1px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 2px;
}
.imageCaption {
  margin-left: 5px;
}

.attachInvis {
  width: 40px;
  height: 40px;
  position: absolute;
  opacity: 0;
}

.messagePreview {
  width: 100% !important;
  height: 100% !important;
}

.firstM {
  text-align: center;
  background: #444 !important;
  color: #f5c65a !important;
  height: auto;
  margin-top: 7px;
  margin-right: 15px;
  padding: 6px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}
